/*retorno de mensagem*/
.error {
    color: red;
    margin-bottom: 2px;
}
.pesquisa{
   margin-top:5px;
   border: solid 1px #CCC;
   min-height: 150px; 
   padding: 10px;   
}
/*itens de pesquisa do form */
.pesquisa_form{
   margin-top:5px;
   border: solid 1px #CCC;
   min-height: 150px; 
   padding: 10px;   
}
.descricao{
   border-top: 1px #CCC solid;   
   padding-top:5px;
   min-height: 20px;
   margin-top:10px;
}

.pesquisa2{
   margin-top:2px;
   background:#ccc; 
   min-height: 50px; 
   padding-top: 10px;
}
body { padding-bottom: 70px; }
.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
